body {
  background-color: #f0a4a4;
  font-family: serif;
  font-style: italic;
}

/* Navbar  */

.Nav {
  align-items: center;
  justify-content: center;
  height:  100px;
  background-color: black;
  border: solid 5px  #f0a4a4 ;
}
.Nav li{
  color: #f0a4a4;
font-size: 50px;
text-decoration: none;
font-family: Serif;
font-style: italic;
display: inline;
padding: 20px;
float: right; 
}
.home1{
  margin-left: 450px;
}
.home1 h2{
  text-decoration: underline;
}
.about{
 margin-left: 300px;
 margin-top: 50px;
}
.about h1{
  text-decoration: underline;
}
.contact{
  margin-left: 300px;
  margin-top: 50px;
 }
 .contact h1,h2{
  text-decoration: underline;
}
.services {
  margin-left: 300px;
  margin-top: 50px;
}
.services h1,h2{
  text-decoration: underline;
}